<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977355674217-598urdjbhmki420j0209jg4l16bb7dp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977355674217-598urdjbhmki420j0209jg4l16bb7dp4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>977355674217-pt0rjf4os67p6215osoaueod1rs3t8mj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCF8eUX_4D3g6vOIGgjJYj600BEMkvTpYY</string>
	<key>GCM_SENDER_ID</key>
	<string>977355674217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.club.leppi</string>
	<key>PROJECT_ID</key>
	<string>leppi-65af0</string>
	<key>STORAGE_BUCKET</key>
	<string>leppi-65af0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977355674217:ios:d744d361e0fcabc433c8f8</string>
	<key>DATABASE_URL</key>
	<string>https://leppi-65af0.firebaseio.com</string>
</dict>
</plist>